body{
    background-color:white;
    color:hsl(212, 6%, 44%);
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.left-right-block{
    display: flex;
    justify-content: space-around;
}

.first-block{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap:10px;
    height: 200px;
    width: 300px;
    border-bottom: 1px solid;
    border-color: black;
}

.first-block h3, 
.first-block p {
    margin: 0;
}

.second-block{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap:10px;
    height: 200px;
    width: 300px;
    border-bottom: 1px solid;
    border-color: black;
}

.top-bottom-block{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.top-block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    height: 200px;
    width: 300px;
    border-bottom: 1px solid;
    border-color: black;
}

.bottom-block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    height: 200px;
    width: 300px;
    border-bottom: 1px solid;
    border-color: black;
}